@import '../../../shared-styles/objects.text';

.buv-c-footer {
  width: 100%;
  height: 60px;
  background-color: #08172e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  a {
    line-height: 1;
  }
}

.buv-c-footer--forced {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  justify-content: flex-end; // TODO: this is a bit too much consequential: this rule shouldn't know about the layout of its children.
}

@import '../../../shared-styles/utils.a11y';
