@import '../../../shared-styles/utils.a11y';

.buv-c-logo {
  color: currentColor;
  text-decoration: none;
}

.buv-c-logo--small {
  width: 113px;
  height: 16px;
}

.buv-c-logo--medium {
  width: 66%;
}

.buv-c-logo__motto {
  font-size: 12px;
}
