.buv-c-drag-and-drop {

}

.buv-c-drag-and-drop.is-active {
  border: 2px dashed #333;
}

.buv-c-drag-and-drop.is-droppable {
  border-color: green;
}

.buv-c-drag-and-drop.not-is-droppable {
  border-color: red;
}
