@import '../../../shared-styles/objects.text';
@import '../../organisms/FullCertificate/_components.full-certificate';

// specificity war with style for images coming from displayHtml
// since we can't really control the latter, augment specificity here
.buv-c-full-certificate .buv-c-full-certificate-img {
  max-width: 125px;
  max-height: 125px;
}

.buv-c-full-certificate__titles::before,
.buv-c-full-certificate__titles::after {
  content: ' ';
  display: block;
  background-color: #edf1f4;
  width: 30%;
  text-align: center;
  margin: 20px auto;
  height: 2px;
}

.buv-c-full-certificate__title {
  font-weight: normal;
  margin: 0;
}

.buv-c-full-certificate__title--name {
  color: #000;
  font-size: 30px;
  margin-bottom: 10px;
}

.buv-c-full-certificate__title--main {
  font-size: 21px;
  margin-bottom: 10px;
}

.buv-c-full-certificate__title--sub {
  font-size: 16px;
  font-style: italic;
}

.buv-c-full-certificate__description {
  margin: 0 0 40px;
  line-height: 1.5;
}

.buv-c-full-certificate-signatures {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
}

.buv-c-full-certificate-signatures__signature {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buv-c-full-certificate-signatures__signature:last-child {
  margin: 0;
}

.buv-c-full-certificate-img--secondary {
  max-width: 150px;
  max-height: 150px;
}
