@import  '../../../shared-styles/settings.variables';

.buv-c-verification-modal__process {
  display: flex;
  justify-content: space-around;
}

.buv-c-verification-modal__separator {
  margin-bottom: 30px;
  background-color: rgba(3, 21, 50, .05);
  height: 1px;
  border: 0 none;
}

.buv-c-verification-modal__content {
  // deduct footer from modal min-height
  max-height: 100vh;
  padding-bottom: 43px;
  box-sizing: border-box;
  overflow: auto;

  @media only screen and (max-width: $modalMaxDimension) {
    // vh does not work with border-box?
    max-height: calc(100vh - 120px);
  }
}
