@import '../../../shared-styles/objects.overlay';
$modalMaxWidth: 600px;

.buv-c-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
}

.buv-c-modal.is-hidden {
  display: none;
}

.buv-c-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-width: 300px;
  max-width: $modalMaxWidth;
  max-height: 500px;
  padding: 38px 38px 76px;
  box-sizing: border-box;

  @media only screen and (max-width: $modalMaxWidth) {
    height: 100vh;
    max-height: 100vh;
  }
}

.buv-c-modal__close-button {
  top: 20px;
  right: 20px;
}
