@import  '../../../shared-styles/settings.variables';
@import '../../../shared-styles/objects.overlay';

.buv-c-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 21, 50, 0.7);
  top: 0;
  left: 0;
  z-index: 1000;
}

.buv-c-modal.is-hidden {
  display: none;
}

.buv-c-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-width: 300px;
  max-width: $modalMaxDimension;
  min-height: calc(#{$modalMaxDimension} - 50px);
  padding: 38px 38px 98px;
  box-sizing: border-box;

  @media only screen and (max-width: $modalMaxDimension) {
    height: 100vh;
    min-height: 100vh;
  }
}

.buv-c-modal__close-button {
  top: 20px;
  right: 20px;
}
