@import '../../../shared-styles/objects.overlay';

.buv-c-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  min-height: 500px;
  padding: 38px 38px 136px;
  box-sizing: border-box;
}

.buv-c-modal.is-hidden {
  display: none;
}

.buv-c-modal__close-button {
  top: 20px;
  right: 20px;
}
