<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockcerts Universal Verifier - API certificate test</title>
    <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../node_modules/web-component-tester/browser.js"></script>

    <script type="module" src="../../src/blockcerts-verifier/index.js"></script>
</head>
<body>
<script src="./helpers/redux-hack.js"></script>
<script src="./helpers/wait.js"></script>
    <test-fixture id="api-certificate">
        <template>
            <blockcerts-verifier src="../fixtures/valid-certificate-example.json"></blockcerts-verifier>
        </template>
    </test-fixture>

    <script type="module">
      describe('Blockcerts Universal Verifier test suite', function () {
        describe('specifying a certificate via the component API', function () {
          describe('given the src is of a valid blockcerts definition', function () {
            it('the certificate input should not be available', async function () {
              const el = fixture('api-certificate').shadowRoot.querySelectorAll('buv-raw')[0];
              const certificateInputComponent = el.shadowRoot.querySelectorAll('buv-certificate-input')[0];
              // allow time to process
              await wait(500);
              const children = [].slice.call(certificateInputComponent.shadowRoot.children);
              const hasCertificateInput = children.some(el => el.classList.contains('buv-qa-certificate-input'));
              expect(hasCertificateInput).to.equal(false);
            });
          });
        });
      });
    </script>
</body>
</html>