<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockcerts Universal Verifier - input entry test</title>
    <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../node_modules/web-component-tester/browser.js"></script>

    <script type="module" src="../../src/blockcerts-verifier/index.js"></script>
</head>
<body>
    <script src="./helpers/redux-hack.js"></script>
    <script src="./helpers/wait.js"></script>
    <test-fixture id="invalid-input">
        <template>
            <blockcerts-verifier disable-auto-verify></blockcerts-verifier>
        </template>
    </test-fixture>

    <script type="module">
      describe('Blockcerts Universal Verifier test suite', function () {
        describe('input stage testing', function () {
          describe('given nothing was inputted in the input', function () {
            it('the button should be disabled', function () {
              const el = fixture('invalid-input').shadowRoot.querySelectorAll('buv-raw')[0];
              const certificateInputComponent = el.shadowRoot.querySelectorAll('buv-certificate-input')[0];
              const buttonComponent = certificateInputComponent.shadowRoot.querySelectorAll('buv-verify-button')[0];
              const rawButtonComponent = buttonComponent.shadowRoot.querySelectorAll('buv-verify-button-raw')[0];
              const button = rawButtonComponent.shadowRoot.querySelectorAll('button')[0];

              expect(button.disabled).to.equal(true);
            });
          });

          describe('given an invalid url was inputted in the input', function () {
            it('the input should highlight its invalid state', async function () {
              const el = fixture('invalid-input').shadowRoot.querySelectorAll('buv-raw')[0];
              const certificateInputComponent = el.shadowRoot.querySelectorAll('buv-certificate-input')[0];
              const inputComponent = certificateInputComponent.shadowRoot.querySelectorAll('buv-input')[0];
              const input = inputComponent.shadowRoot.querySelectorAll('input')[0];

              input.value = 'http';
              const inputEvent = new Event('input', {
                bubbles: true,
                cancelable: true
              });

              input.dispatchEvent(inputEvent);

              await wait(0);

              const classes = Array.from(input.classList);

              expect(classes.indexOf('is-invalid') > -1).to.equal(true);
            });
          });

          describe('given a valid url of a certificate definition was inputted in the input', function () {
            it('the certificate input should be empty', async function () {
              const el = fixture('invalid-input').shadowRoot.querySelectorAll('buv-raw')[0];
              const certificateInputComponent = el.shadowRoot.querySelectorAll('buv-certificate-input')[0];
              const inputComponent = certificateInputComponent.shadowRoot.querySelectorAll('buv-input')[0];
              const input = inputComponent.shadowRoot.querySelectorAll('input')[0];

              input.value = 'https://auto-certificates.learningmachine.io/certificate/ebecbb1552fb5d1f8db5f713db980260';
              const inputEvent = new Event('input', {
                bubbles: true,
                cancelable: true
              });

              input.dispatchEvent(inputEvent);

              // allow retrieving the certificate. It is a bit weak if network is slow.
              await wait(3000);
              const children = [].slice.call(certificateInputComponent.shadowRoot.children);
              const hasCertificateInput = children.some(el => el.classList.contains('buv-qa-certificate-input'));
              expect(hasCertificateInput).to.equal(false);
            });
          });

        });
      });
</script>
</body>
</html>