@import '../../../shared-styles/settings.variables';
@import '../../../shared-styles/objects.text';

.buv-c-verification-step {
  position: relative;
  margin: 15px 0 5px;
  font-weight: 600;
}

.buv-c-verification-step.is-first {
  margin-top: 0;
}

.buv-c-verification-substep {
  margin: 0;
  font-weight: 400;
  color: rgba(3, 21, 50, .7);
  padding: 5px 0;
}

.buv-c-verification-step::before {
  content: '';
  position: absolute;
  left: -38px;
  top: -4px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 2;
  box-sizing: content-box;
  box-shadow: 0 2px 4px 0 rgba(22, 40, 55, .21);
}

.buv-c-verification-substep::before {
  left: -28px;
  top: 11px;
  width: 4px;
  height: 4px;
  background-color: rgba(255, 255, 255, .8);
}

.buv-c-verification-step::after {
  position: absolute;
  z-index: 3;
}

.buv-c-verification-step.is-success::after {
  content: '';
  border: solid $successColor;
  border-width: 0 2px 2px 0;
  left: -29px;
  width: 5px;
  height: 11px;
  transform: rotate(45deg);
}

.buv-c-verification-step.is-success.is-test::after {
  border: solid $fontColor;
  border-width: 0 2px 2px 0;
}

.buv-c-verification-step.is-failure::after {
  content: '\\274C'; // double escape needed for JS
  left: -31px;
  top: -1px;
  font-size: 11px;
  color: $errorColor;
}
