@import '../../../shared-styles/settings.variables';

.buv-c-certificate-details {
  display: flex;
  margin: 0;
}

.buv-c-certificate-details__group {
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 25%;
  color: rgba(110, 126, 142, 1);
}

.buv-c-certificate-details__title {
  font-weight: 100;
  margin-bottom: 5px;
}

.buv-c-certificate-details__value {
  margin: 0;
}

.buv-c-certificate-details__link {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $successColor;
}
