@import '../../../shared-styles/settings.variables';
@import '../../../shared-styles/objects.text';

.buv-c-certificate-details {
  display: flex;
  margin: 0;
  position: relative;
  padding-bottom: 60px;

  @media only screen and (max-width: $breakpoint) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.buv-c-certificate-details--column {
  flex-direction: column;
  padding-bottom: 0;
}

.buv-c-certificate-details__group {
  box-sizing: border-box;
  padding-right: 15px;
  margin-top: 15px;
}

.buv-c-certificate-details__group--row {
  max-width: 33%;
  margin-top: 0;

  @media only screen and (max-width: $breakpoint) {
    max-width: 100%;
  }
}

.buv-c-certificate-details__title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.buv-c-certificate-details__value {
  margin: 0;
  word-break: break-all;
}

.buv-c-certificate-details__standalone {
  position: absolute;
  bottom: 0;

  @media only screen and (max-width: $breakpoint) {
    position: initial;
    margin-top: 15px;
  }
}

.buv-c-certificate-details--inline {
  display: inline-block;
  margin: 0 0 5px;
}
