$successColor: rgb(42 178 123 / 100%);
$successBackgroundColor: rgb(42 178 123 / 10%);
$errorColor: rgb(208 2 27 / 100%);
$errorBackgroundColor: rgb(208 2 27 / 10%);
$testColor: rgb(245 166 35);
$testBackgroundColor: rgb(245 166 35 / 10%);
$fontColor: rgb(3 21 50 / 100%);
$modalMaxDimension: 600px;
$footerBackground: rgb(0 0 0 / 10%);
$breakpoint: 750px;
