$successColor: rgba(42, 178, 123, 1);
$successColorBackground: rgba(42, 178, 123, .1);
$errorColor: rgba(208, 2, 27, 1);
$errorColorBackground: rgba(208, 2, 27, .1);
$fontColor: rgba(3, 21, 50, 1);

$modalMaxDimension: 600px;

$footerBackground: rgba(0, 0, 0, .1);
