@import '../../../shared-styles/settings.variables';

.buv-c-input {
  font-size: 15px;
  color: $fontColor;
  border-radius: 2px 0 0 2px;
  padding: 12px 15px;
  background-color: rgba(243, 244, 245, 6);
  border: solid 1px rgba(3, 21, 50, .13);
  box-sizing: border-box;
  width: 100%;
}

.buv-c-input.is-invalid {
  border: 2px solid #f00;
}

.buv-c-input::-moz-placeholder {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgba(3, 21, 50, .3);
  letter-spacing: -.25px;
}

.buv-c-input::-webkit-input-placeholder {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgba(3, 21, 50, .3);
  letter-spacing: -.25px;
}

.buv-c-input:-moz-placeholder {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgba(3, 21, 50, .3);
  letter-spacing: -.25px;
}

.buv-c-input:-ms-input-placeholder {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgba(3, 21, 50, .3);
  letter-spacing: -.25px;
}

@import '../../../shared-styles/utils.a11y';
