@import '../../../shared-styles/objects.text';
@import '../../../shared-styles/components.certificate';

$sectionSpacer: 20px;

.buv-c-full-certificate {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  padding: $sectionSpacer;
  background-color: #fff;
  display: block;
  font-family: serif;
  text-align: center;
  color: #49555f;
  font-size: 12px;
  overflow: auto;
  word-wrap: break-word;
  height: 100vh; // force pdf to scale up
  max-height: calc(100vh - 150px);
  line-height: initial;
}

// No direct access available
.buv-c-full-certificate section {
  max-width: 100%;
  padding: 0;
}

// No direct access available
.buv-c-full-certificate img {
  max-width: 100%;
  height: auto;
  width: inherit;
}

@media only screen and (min-width: 640px) {
  .buv-c-full-certificate {
    font-size: 16px;
  }
}

.buv-c-full-certificate__button {
  margin-top: 15px;
}

.buv-c-full-certificate__details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.buv-c-full-certificate__details-list {
  min-width: calc(100% - 190px);
  width: calc(100% - 105px);
}
