@import '../../../shared-styles/settings.variables';

.buv-c-full-certificate {
  --section-spacer-distance: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  padding: calc(var(--section-spacer-distance));
  background-color: #fff;
  display: block;
  font-family: serif;
  text-align: center;

  color: #49555f;
  font-size: 12px;
  line-height: 1.5;
  overflow: auto;
  word-wrap: break-word;
}

.buv-c-full-certificate section {
  max-width: 100%;
  padding: 0;
}

.buv-c-full-certificate img {
  max-width: 100%;
  height: auto;
  width: inherit;
}

@media only screen and (min-width: 640px) {
  .buv-c-full-certificate {
    min-height: 550px;
    padding: calc(var(--section-spacer-distance) * 2) calc(var(--section-spacer-distance) * 4);
    font-size: 16px;
  }
}

.buv-c-full-certificate-details {
  display: flex;
  justify-content: space-between;
}

.buv-c-full-certificate-details__group {
  box-sizing: border-box;
  padding: 10px;
  max-width: 25%;
}

.buv-c-full-certificate-details__title {

}

.buv-c-full-certificate-details__value {
  font-weight: bold;
  margin: 0;
}

.buv-c-full-certificate-details__link {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $successColor;
}

// TODO: should we implement?
//.buv-c-full-certificate .loading {
//  font-family: sans-serif;
//  font-weight: 200;
//  font-size: 18px;
//}
//
///* Image at the top of the document. */
//.buv-c-full-certificate .certificate-image img {
//  max-width: var(--max-top-image-dimension);
//  max-height: var(--max-top-image-dimension);
//}
//
///* Headers section */
//.buv-c-full-certificate .headers::before,
//.buv-c-full-certificate .headers::after {
//  content: ' ';
//  display: block;
//  background-color: var(--divider-color);
//  width: 30%;
//  text-align: center;
//  margin: var(--section-spacer-distance) auto;
//}
//.buv-c-full-certificate .headers h1,
//.buv-c-full-certificate .headers h2,
//.buv-c-full-certificate .headers h3 {
//  font-weight: normal;
//  margin-top: 0;
//  margin-bottom: 0;
//}
//.buv-c-full-certificate .headers h1 {
//  font-size: 30px;
//}
//.buv-c-full-certificate .headers h2 {
//  font-size: 21px;
//  margin-top: calc(var(--section-spacer-distance) / 2);
//}
//.buv-c-full-certificate .headers h3 {
//  font-size: 16px;
//  font-style: italic;
//  margin-top: calc(var(--section-spacer-distance) / 2);
//}
//
//.buv-c-full-certificate h1.recipient {
//  color: #000;
//}
//
///* Description section */
//.buv-c-full-certificate .description p {
//  margin-top: calc(2 * var(--section-spacer-distance));
//  line-height: 1.5;
//}
//
///* Signatures section*/
//.buv-c-full-certificate .signatures {
//  margin-top: var(--section-spacer-distance);
//  display: inline-block;
//  width: 100%;
//}
//.buv-c-full-certificate .signatures .signature {
//  width: 100%;
//  float: left;
//  margin-top: calc(var(--section-spacer-distance) / 2);
//  margin-bottom: calc(var(--section-spacer-distance) * 1.5);
//  padding-left: calc(var(--section-spacer-distance) / 2);
//  padding-right: calc(var(--section-spacer-distance) / 2);
//}
//.buv-c-full-certificate .signatures .signature.size50 {
//  width: 50%;
//}
//.buv-c-full-certificate .signatures .signature.size33 {
//  width: 33%;
//}
//.buv-c-full-certificate .signatures .signature img,
//.buv-c-full-certificate .signatures .signature span {
//  max-width: var(--max-bottom-image-dimension);
//  display: block;
//  margin: 0 auto;
//}
//.buv-c-full-certificate .signatures .signature span {
//  margin-top: calc(-1 * var(--section-spacer-distance) / 2);
//  max-width: var(--max-width-span-dimension);
//  font-size: 13px;
//}
//
///* Image at the bottom of the document. */
//.buv-c-full-certificate .seal {
//  margin-top: var(--section-spacer-distance);
//}
//.buv-c-full-certificate .seal img {
//  max-width: var(--max-bottom-image-dimension);
//  max-height: var(--max-bottom-image-dimension);
//}
