@import '../../../shared-styles/settings.variables';

.buv-c-verification-process {
  position: relative;
  display: table;
}

.buv-c-verification-progress-bar {
  padding-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $successColor;
  width: 14px;
  border-radius: 7px;
  margin: 2px 0;
  box-sizing: content-box;
  // TODO: not animating at this point
  -webkit-transition: height .4s ease-in-out, padding-top .4s ease-in;
  -moz-transition: height .4s ease-in-out, padding-top .4s ease-in;
  -o-transition: height .4s ease-in-out, padding-top .4s ease-in;
  transition: height .4s ease-in-out, padding-top .4s ease-in;
  min-height: 100%;
  display: table-cell;
}

.buv-c-verification-progress-bar.has-errored {
  background-color: $errorColor;
}

.buv-c-verification-progress-bar.is-test {
  background-color: #d8d8d8;
}

.buv-c-verification-progress-bar.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.buv-c-verification-process__step-list {
  padding-left: 33px;
  display: table-cell;
  min-width: 200px;
}

// TODO: not implemented in HTML
.buv-c-verification-step__toggle-link {
  display: block;
}

// TODO: below should be deleted once all implemented
:host .step .loading-txt,
:host .step.starting > a,
:host .step.starting .sub-steps {
  display: none;
}

:host .step.starting .loading-txt {
  display: block;
}

:host .step.opened .sub-steps {
  height: auto;
}

:host .step.opened .step-arrow {
  transform: rotate(180deg);
}

:host .step-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(118, 128, 135, 1);
  display: inline-block;
  vertical-align: 2px;
  margin: 0 6px;
  -webkit-transition: -webkit-transform .3s ease-in;
  -o-transition: transform .3s ease-in;
  transition: transform .3s ease-in;
}
