.buv-c-verify-button {
  background-color: rgba(31, 132, 92, 1);
  border-radius: 0 2px 2px 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 38px;
  border: 1px solid rgba(31, 132, 92, 1);
}

.buv-c-verify-button.has-spinner {
  padding: 0 39px;
}

.buv-c-verify-button.is-disabled {
  cursor: default;
  filter: grayscale(100%);
}
