@import '../../../shared-styles/settings.variables';

.buv-c-error-message {
  background: $errorBackgroundColor;
  border-radius: 2px;
  letter-spacing: .05px;
  padding: 10px;
}

.buv-c-error-message--solid {
  background: #fff;
  border-radius: 2px 2px 0 0;
  margin: 0;
}

.buv-c-error-message-title {
  color: $errorColor;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
