@import '../../../shared-styles/settings.variables';

.buv-c-error-message {
  background: rgba(208, 2, 27, 0.05);
  border-radius: 2px;
  letter-spacing: .05px;
  padding: 10px;
}

.buv-c-error-message-title {
  color: $errorColor;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
