@import '../../../shared-styles/objects.text';

.buv-c-card {
  position: relative;
  height: 112px;
  margin-bottom: 20px;
}

.buv-c-card__img {
  float: left;
  margin-right: 18px;
  max-width: 100%;
  max-height: 100%;
}

.buv-c-card__title {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  padding-right: 100px;
}

.buv-c-card__title--no-padding {
  padding: 0;
}

.buv-c-card__recipient {
  font-weight: 600;
  margin-bottom: 22px;
}

.buv-c-card__issue-summary {
  margin-bottom: 18px;
}

.buv-c-card__record-link {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
}

.buv-c-card__record-link::after {
  content: '';
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}

.buv-c-card__verify-button {
  float: right;
}
