.buv-c-verifier-main {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(3, 21, 50);
  position: relative;
}

.buv-c-verifier-layout {
  display: flex;
  flex-direction: column;
}

.buv-c-verifier-body {
  background-color: #fff;
  flex-grow: 1;
}

.buv-c-verifier-body--padded {
  padding: 20px;
}
