.buv-c-verifier-main {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(3, 21, 50);
  position: relative;
  background-color: #fff;
}

.buv-c-verifier-body--padded {
  padding: 20px;
}
