.buv-o-button-link {
  display: block;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.buv-o-button-link__label {
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.buv-o-button-link.is-disabled,
.buv-o-button-link:disabled {
  cursor: help;
  opacity: .6;
}
