.buv-c-certificate-input {
  display: flex;
  width: 100%;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, .1);
  box-sizing: border-box;
}

.buv-c-certificate-input__input {
  width: 100%;
}
