@import '../../../shared-styles/objects.text';

.buv-c-fullscreen-certificate {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;

  @media only screen and (max-width: 520px) {
    padding-top: 120px; // header height
  }
}

.buv-c-fullscreen-certificate-header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  width: 100%;
  background-color: #fff;

  @media only screen and (max-width: 520px) {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}

.buv-c-fullscreen-certificate-header__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  @media only screen and (max-width: 520px) {
    flex-direction: column;
    justify-content: left;
    align-items: unset;
  }
}

.buv-c-fullscreen-certificate__title {
  margin: 0 30px 0 0;

  @media only screen and (max-width: 520px) {
    margin-bottom: 10px;
  }
}

.buv-c-fullscreen-certificate__close {
  right: 20px;
}

.buv-c-fullscreen-certificate__content {
  padding: 20px;
  display: flex;
  max-width: 1440px;
  margin: 20px auto 0;

  @media only screen and (max-width: 520px) {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}

.buv-c-fullscreen-certificate__details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 220px;
  margin-right: 20px;
  position: relative;

  @media only screen and (max-width: 520px) {
    max-width: 100vw;
  }
}

.buv-c-fullscreen-certificate__details-item {
  margin-top: 5px;
}

.buv-c-fullscreen-certificate__logo {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #f1f2f3;
}

.buv-c-fullscreen-certificate__certificate {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  padding: 20px;
  background-color: #fff;
  font-family: serif;
  text-align: center;
  color: #49555f;
  font-size: 12px;
  word-wrap: break-word;
  min-height: calc(100vh - 145px);
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 600px;

  @media only screen and (max-width: 520px) {
    max-height: 60vh;
    margin-bottom: 20px;
  }
}

.buv-c-fullscreen-certificate__verify-other {
  position: absolute;
  bottom: 0;
  left: 0;

  @media only screen and (max-width: 520px) {
    display: none;
  }
}
