@import '../../../shared-styles/objects.text';

.buv-c-fullscreen-certificate {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.buv-c-fullscreen-certificate__content {
  display: flex;
}

.buv-c-fullscreen-certificate__details {
  display: flex;
  flex-grow: 1;
}

.buv-c-fullscreen-certificate__certificate {
  display: flex;
  flex-grow: 2;
}
